@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;

}

body {
    background-color: #f5f4f4;
}

/* navbar design */
nav {
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 38px
}

.nav-btn {
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: transparent;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition-duration: 0.7s;
}

.nav-btn:hover {
    background-color: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
}

/* banner design */
.banner {
    width: 1280px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.title .banner-heading {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0px;
}

.title .banner-para {
    color: rgb(14, 14, 14);
    width: 622px;
    height: 201px;
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin: 15px 0px;
}

.banner-btn {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: 15px 0px;
    transition-duration: 0.7s;
}

.banner-btn:hover {
    background-color: rgb(0, 11, 8);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.banner-coloum1 {
    margin: 0px 64px;
}

.banner-coloum2 img {
    margin-left: 16px;
}

/* pillars of bangladesh section design */
main {
    max-width: 1280px;
    margin: 80px auto;
}

.pillars-container {
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.pillars-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

.pillars-text {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-weight: 400;
}

.pillars-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-left: 14px;
}

.pillars {
    display: flex;

}

.pillars-box {
    width: 302px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 45px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 32px 24px 0px 10px;
    transition: 0.7s;
}

.pillars-box:hover {
    background-color: rgba(216, 40, 40, 0.652);
    cursor: pointer;
}

/* vision of Bangladesh disign */

.vision-container {
    width: 1280px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vision-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}

.vision-para {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 24px 0px;
}

.visions {
    display: flex;
    gap: 24px;
}

.blue {
    background-color: rgba(84, 144, 245, 0.2);
}

.dark-blue {
    background: rgb(84, 144, 245);
}

.green {
    background-color: rgb(198, 228, 214);
}

.dark-green {
    background: rgb(9, 161, 92);
}

.yellow {
    background-color: rgb(247, 235, 207);
}

.dark-yellow {
    background: rgb(255, 194, 57);
}

.vision-box {
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px 34px 0px 34px;
    border-radius: 15px;
}

.vision-box:hover {
    border: 1px solid black;
    cursor: pointer;
}

.vision-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    margin: 34px 0px 12px 0px;
}

.vision-btn {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 28px 0 0 0;
    transition-duration: 0.5s;
}

.vision-btn:hover {
    background-color: rgb(74, 38, 38);
    cursor: pointer;
}

.green-btn {
    margin-top: 48px;
}

.yellow-btn {
    margin-top: 29px;
}

/* the quatation design */
.quote-container {
    margin-top: 60px;
    padding: 20px 10px 20px 10px;

    background: rgb(255, 255, 255);
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

}

.quote-text {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px 12px 0px;
}

.quote-person {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    margin-top: 48px;
}

/* opinion section design */
.opinion-container {
    margin-top: 80px;
}

.opinion-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.opinions{
    padding: 32px;
    background-color: white;
}
.row-head{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 1167px;
height: 50px;
align-items: center;
}
.opinion-row{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
   
}
.opinion-question{
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
.select{
    border: 1px solid rgba(249, 242, 242, 0.15);
    padding: 24px;
}

#answer{
    border: 1px solid rgb(14, 14, 14);
border-radius: 4px;
background: rgb(198, 228, 214);
width: 152px;
height: 44px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 500;
text-align: center;
}
#answer:hover{
    background-color: rgb(209, 94, 94);
    cursor: pointer;
}
/* Recent News design */
.news-container{
    margin-top: 80px;
}
.news-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.news-para{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin: 24px 0px;
}
.news{
 display: flex;
width: 1280px;
height: 402px;
flex-direction: column;
margin: 32px 0px ;
}
.news-img img{
    border-radius: 24px;
}
.news-box{
   display: flex;
    width: 1280px;
height: 402px;
    margin: 32px 0px ;
    gap: 32px;
    background: rgb(255, 255, 255);
    padding:48px;
    border-radius: 24px;

}
.news-info{
    display: flex;
    gap: 20px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.news-coloum2{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.news-descriptoin{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.second-box{
    flex-direction: row-reverse;
}
.news-btn{
    width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: white;
font-size: 18px;
font-weight: 600;
}
.news-btn:hover{
    background-color: rgb(74, 38, 38);
    cursor: pointer;
}
/* donate section design */
.donate-container{
    margin-top: 580px;
   
}
.donate-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
text-align: center;
}
.donate-para{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 24px;
}
.donate-box{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
  text-align: center;
}
.taka{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
padding:25px  40px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 32px 0px;
transition-duration: 0.5;
}
.recomend{
    background: rgb(0, 106, 80);
    color: white;
}
.taka:hover{
    background: rgb(15, 200, 154);
    cursor: pointer;
}
.donate-done{
    display: flex;
    flex-direction: column;
}
.donate-input{
    width: 1032px;
height: 64px;
text-align: center;
margin:0px auto 32px auto;
border: none;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
}
.donate-btn{
    border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
width: 151px;
height: 56px;
text-align: center;
margin: 0px auto;
color: white;
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
}
.donate-btn:hover{
    background-color: rgb(74, 38, 38);
    cursor: pointer;
}
/* subscribe section desgin */
.sub-container{
 margin-top: 80px;
 border-radius: 24px;
 background: rgb(198, 228, 214);
 padding: 80px 100px; 
}
.sub-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
text-align: center;
}
.sub-para{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin: 16px 0px 24px 0px;
text-align: center;
padding: 0px 64px;
}
.sub-input{
    display: flex;
    justify-content: center;
}
.sub-input input{
    width: 600px;
height: 55px;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
border: none;
padding-left: 10px;
}
.sub-btn{
    width: 150px;
height: 56px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
padding: 8px;
border: none;
}
.sub-text{
    margin-top: 25px;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
}
footer{
    background: rgb(255, 255, 255);
    width: 100%;
height: 226px;
padding:50px 0px;
}
.footer-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
text-align: center;
margin-bottom: 30px;
}
.footer-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
hr{
    width: 1122px;
    margin: 0 auto;
}