@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
   
}
body{
    background-color: #f5f4f4;
}
/* navbar design */
nav {
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px
}

.nav-btn {
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: transparent;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition-duration: 0.7s;
}
.nav-btn:hover{
    background-color:rgb(0, 106, 80) ;
    color: white;

}
/* banner design */
.banner{
    width: 1280px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.title .banner-heading{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
margin: 15px 0px;
}
.title .banner-para{
    color: rgb(14, 14, 14);
    width: 622px;
height: 201px;
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
text-align: left;
margin: 15px 0px;
}
.banner-btn{
    padding: 17px 34px;
    border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border: none;
margin: 15px 0px;
transition-duration: 0.7s;
}
.banner-btn:hover{
    background-color: rgb(0, 11, 8);
    color: rgb(255, 255, 255);
}
.banner-coloum1 {
    margin : 0px 64px;
}
.banner-coloum2 img{
    margin-left: 16px;
}